{
	# Enable FrankenPHP
	frankenphp
	order php_server before file_server
	# Disable auto HTTPS - Traefik handles TLS
	auto_https off
}

:80 {
	root * /app/public
	encode zstd gzip
	php_server
	file_server
}
